<%= form_for @note do |f| %>
  <div class="field">
    <%= f.label :content %> :
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :visible_to%>
    <%= f.text_field :visible_to %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<%end%>
