<h1>Listing Notes</h1><br><br>
 <% @notes.each do |note| %>
   <%= note.content %><br>
   <%= link_to 'Show', note %><br>
   <%= link_to 'Edit', edit_note_path(note) %><br>
   <%= link_to 'Destroy', note, :method => :delete %><br><br>
 <% end %>

 <%= link_to 'New Note', new_note_path %>
