<% if current_user %>
  <h1>Create a Note</h1>

  <%= form_for @note do |f| %>
    Content: <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>

<% else %>

  <h1>Login</h1>

  <%= form_for :user, :url => "/" do |f| %>
    Username: <%= f.text_field :name %>
    <%= f.submit "Login" %>
  <% end %>

<% end %>
