<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	<h1><%= "#{current_user.name}'s Notes" %></h1>
	<%= form_tag('/logout', method: :post) do %>
	<%= link_to "new note", '/notes/new' %>
    <input type=submit value='Logout'>
  <% end %>
 <% else %>
 	<%= form_tag('/login', method: :post) do %>
	    <input name=name placeholder='Login'>
	  <% end %>
	<% end %>

<%= yield %>

</body>
</html>
