<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>
  <%= yield %>
  <%= form_tag logout_path do %>
    <%= submit_tag "logout" %>
  <% end %>
<% else %>
  <%= render :template =>'sessions/new'%>
<% end %>

</body>
</html>
