<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Login", login_path, method: :get %>
  <%= link_to "Sign up", signup_path, method: :get %>
  <%= link_to "Logout", logout_path, method: :post %><br></br>

  <%= yield %>

</body>
</html>
