<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Users", users_path %>
<%= link_to "Notes", notes_path %>

<button><%= link_to "Log in", { controller: "sessions", action: "create", method: "POST"} %></button>

<%= yield %>

</body>
</html>
