<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= link_to "Sign up", signup_path %></p>
<p><%= link_to "Log in", login_path %></p>
<p><%= link_to "Logout", logout_path %></p>
<p><%= link_to "New Note", new_note_path %></p>
<p><%= link_to "Home", root_path %></p>
<%= yield %>

</body>
</html>
