<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <h1>Welcome <%= current_user.name.capitalize %></h1>
    <%= link_to 'Logout', logout_path, :method => :delete %>
  <% end %>

  <% if !current_user %>
    <%= form_for :user, :url => "/login" do |f| %>
      Sign in - Username: <%= f.text_field :name %>
      <%= f.submit "Login" %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
