<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:name] %>
  <%= yield %>
  <%= form_tag logout_path do %>
    <%= submit_tag "logout" %>
  <% end %>
<% else %>
  <%= form_tag('/login', method: :post, class: 'session-login') do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <br>
    <%= submit_tag "login" %>
  <% end %>
<% end %>

</body>
</html>
