<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= form_tag('/logout', method: :post) do %>
    <%= submit_tag 'sign out' %>
  <% end %>
<% end %>

<% if !current_user %>
  <%= form_tag('/login', method: :post) do %>
    <%= text_field_tag 'name' %><br>
    <%= submit_tag 'sign in' %>
  <% end %>
<% end %>

<%= link_to "new note", '/notes/new' %>

<%= yield %>

</body>
</html>
