<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="session">
	<% if current_user %>
		Hi <%= current_user.name %>
		<%= form_tag('/logout', method: :post) do %>
			<input type="submit" value="log out">
		<% end %>
	<% else %>
		<%= form_tag('/login', method: :post) do %>
			<input type="text" name="name">
			<input type="submit" value="log in">
		<% end %>
	<% end %>
</div>
<nav>
	<%= link_to "new note", '/notes/new' %>
</nav>

<%= yield %>

</body>
</html>
