<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='session'>

    <% if current_user %>

      <%= form_tag('/logout', method: :post) do %>
        <input type="submit" value="Log out" >
      <% end %>
    <% else %>
      <%= form_tag('/login', method: :post) do %>
        <input type="text_field" name="name" placeholder="Name">
        <input type="submit" value="Sign Up/Log In" >
      <% end %>

    <% end %>

  </div>

  <div class="note">
    <%= link_to("Create New Note", '/notes/new') %>
  </div>

  <%= yield %>

</body>
</html>
