<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  Hello, <%= current_user.name %>
    <%=form_tag('/logout', method: :post) do %>
    <input type='submit' value="log out">
    <%end%>
    <%=link_to 'new note', new_note_path%>
<% else %>
    <%=form_tag('/login', method: :post) do %>
    <input name='name'>
    <input type='submit' value='log in'>
    <%end%>
<% end %>

<%= yield %>

</body>
</html>
